body {
    background-color:rgb(192, 240, 240)
}

p {
    background-color: rgb(233, 237, 238);
    text-align: center;
}

h1 {
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
    color: rgb(247, 247, 247);
    padding: 10px;
}

table {
    flex:auto;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    background-color: aliceblue;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.calendar-preview {
  margin-left: 5px;
  border: 2px solid #567b8a;
  padding: 2px;
  padding-left: 7px;
  padding-right: 4px;

}

.text {
    font-style:oblique;
}

